/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) */
/* http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body { 
    background: #EEEEEE;
    color: #3F3F3F;
    font-size: 16px;
    line-height: 1;
}

header,
section,
footer {
    margin: 0 auto;
    max-width: 700px;
    padding: 50px;
}

a {
    color: #3F3F3F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    border-bottom: 7px #CCCCCC solid;
    font-size: 2em;
    padding-bottom: 14px;
}

p {
    line-height: 1.75em;
    margin-bottom: 40px;
}

strong {
    font-weight: 700;
}
